.tomselect .ts-dropdown {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10;
  margin: 0;
  padding: 0.25rem 0.5rem;
}

.tomselect .ts-dropdown [data-selectable] {
  cursor: pointer;
  overflow: hidden;
}

.tomselect .ts-dropdown [data-selectable] .highlight {
  background: var(--background-action-low-blue-france);
}

.tomselect .ts-dropdown .option {
  padding: 0.25rem 0;
}

.tomselect .ts-dropdown-content {
  overflow: hidden auto;
  max-height: 12rem;
  scroll-behavior: smooth;
}

.tomselect input {
  margin-top: 0.5rem;
}

/* .tomselect .item{
    margin-top: 0.25rem;
    margin-bottom: 0rem;
    position: absolute;
} */
