.tomselect {
  margin-top: 0.5rem;
  position: relative;
}

.tomselect .ts-control {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.tomselect .ts-control input {
  flex: 1;

  --idle: transparent;
  --hover: var(--background-contrast-grey-hover);
  --active: var(--background-contrast-grey-active);

  color: var(--text-default-grey);
  font-size: 1rem;
  line-height: 1.5rem;
}

.tomselect .ts-control input:focus,
.tomselect .ts-control input:focus-visible {
  outline: none;
}

.tomselect.has-items .ts-control input:not(:focus) {
  color: var(--idle);
}

.tomselect .ts-control .item {
  margin-top: 0.125rem;
}

.tomselect .ts-control .fr-tag {
  margin-top: -0.125rem;
  background-color: var(--background-action-low-blue-france);
}

.tomselect .ts-control .fr-tag .remove {
  margin-left: 0.25rem;
}

.tomselect .ts-control .clear-button {
  margin-top: 0;
}

.tomselect .ts-control .clear-button:hover {
  cursor: pointer;
}

.tomselect .ts-dropdown {
  position: absolute;
  background-color: var(--background-contrast-grey);
  left: 0;
  width: 100%;
  z-index: 10;
  margin: 0.5rem 0;
}

.tomselect .ts-dropdown [data-selectable] {
  cursor: default;
  overflow: hidden;
}

.tomselect .ts-dropdown [data-selectable] .highlight {
  color: var(--text-action-high-grey);
  font-weight: bold;
}

.tomselect .ts-dropdown .option {
  padding: 0.125rem 0.5rem;
}

.tomselect .ts-dropdown .option:hover {
  background-color: var(--background-contrast-grey);
}

.tomselect .ts-dropdown .optgroup-header {
  font-weight: bold;
  color: var(--text-title-grey);
  font-style: italic;
  padding: 0.25rem 0.125rem;
}

.tomselect .ts-dropdown-content {
  overflow: hidden auto;
  max-height: 12rem;
  scroll-behavior: smooth;
}